<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button *ngIf = "this.authenticationService.isAuthenticated()" href="/welcome"> Home </a>
            <a mat-button *ngIf = "this.authenticationService.isAuthenticated()" routerLink="/todos"> Todos </a>
            <a mat-button *ngIf = "!this.authenticationService.isAuthenticated()" routerLink="/login"> Login </a>
            <a mat-button *ngIf = "this.authenticationService.isAuthenticated()" routerLink="/logout"> Logout </a>
        </div>
        
    </mat-toolbar-row>
</mat-toolbar>